<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add category</title>
</head>
<body>
<h2>Edit category</h2>
<form th:action="@{/category-edit}" th:object="${editCategory}">
    <label for="id">Id:</label><br>
    <input type="text" id="id" readonly name="id" th:field="*{id}"><br>
    <label for="fname">Nume:</label><br>
    <input type="text" id="fname" name="fname" th:field="*{nume}"><br>
    <input type="submit" value="Edit category">
</form>
</body>
</html>